body {
    line-height: 1; 
    background-color: #343a40;
    color: #f8f9fa;
    width: 50em;
    margin: 0 auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
     
  h1 {
    font-size: 6em;
    color: #dc3545;
    background-color: #343a40;
    text-align: center;
  
  }
  
  h2 {
    color: #f8f9fa;
    }
  
  p {
    color: #f8f9fa;
    background-color: #343a40;
    }
  
  a {
    color: #fd7e14;
    padding: 1em;
  }
  
  ol, ul {
    list-style: none; }
  
a img {
    border: none; }

    #main {
    padding: 50px; }
  
  div {
    padding: 15px;
    /* background-color: #fd7e14; */
  }
  
  footer {
    background-color: #343a40;
  }