body {
    line-height: 1; 
    background-color: #343a40;
    color: #f8f9fa;
    width: 50em;
    margin: 0 auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
     
  h1 {
    font-size: 6em;
    color: #dc3545;
    background-color: #343a40;
  
  }
  
  h2 {
    color: #f8f9fa;
    }
  
  p {
    color: #f8f9fa;
    background-color: #343a40;
    }
  
  a {
    color: #fd7e14;
    padding: 1em;
  }
  
  ol, ul {
    list-style: none; }
  
  table {
    border-collapse: collapse;
    border-spacing: 0; }
  
  caption, th, td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle; }
  
  q, blockquote {
    quotes: none; }
    q:before, q:after, blockquote:before, blockquote:after {
      content: "";
      content: none; }
  
  a img {
    border: none; }
  
  article, aside, details, figcaption, figure, header, hgroup, menu, nav, section, summary {
    display: block; }
  
  #main {
    padding: 50px; }
  
  div {
    padding: 5px;
  }
  
  footer {
    background-color: #343a40;
  }